<h4 class="center"> Moletons</h4>
<div class="row ">
    <div class="col s12 m3 text-black">
      <div class="card">
        <div class="card-image">
          <img src="assets/img/m01.jpg">

        </div>
        <div class="card-content">

            <h5 class="center"> Captan Marvel</h5>
         <h6 class="center">R$ 79,90</h6>
        </div>
        <div class="card-action red-text">
          <a routerLink="/moleton01">Confira</a>
        </div>
      </div>
    </div>

    <div class="col s12 m3 text-black">
            <div class="card">
              <div class="card-image">
                <img src="assets/img/m02.jpg">

              </div>
              <div class="card-content">
                  <h5 class="center">Spider-Man</h5>
                <h6 class="center">R$ 79,90</h6>
              </div>
              <div class="card-action red-text">
                <a routerLink="/moleton02">Confira</a>
              </div>
            </div>
          </div>


          <div class="col s12 m3 text-black">
              <div class="card">
                <div class="card-image">
                  <img src="assets/img/m03.jpg">

                </div>
                <div class="card-content">
                    <h5 class="center">DC logo</h5>
                  <h6 class="center">R$ 79,90</h6>
                </div>
                <div class="card-action red-text">
                  <a routerLink="/moleton03">Confira</a>
                </div>
              </div>
            </div>


            <div class="col s12 m3 text-black">
                <div class="card">
                  <div class="card-image">
                    <img src="assets/img/m04.jpg">

                  </div>
                  <div class="card-content">
                      <h5 class="center">Cyborg logo</h5>
                    <h6 class="center">R$ 79,90</h6>
                  </div>
                  <div class="card-action red-text">
                    <a routerLink="/moleton04">Confira</a>
                  </div>
                </div>
              </div>
