<h4 class="center"> Regatas</h4>
<div class="row ">
    <div class="col s12 m3 text-black">
      <div class="card">
        <div class="card-image">
          <img src="assets/img/regata_01.jpg">

        </div>
        <div class="card-content">

            <h5 class="center"> Avengers logo</h5>
         <h6 class="center">R$ 29,90</h6>
        </div>
        <div class="card-action red-text">
          <a routerLink="/regata01">Confira</a>
        </div>
      </div>
    </div>

    <div class="col s12 m3 text-black">
            <div class="card">
              <div class="card-image">
                <img src="assets/img/regatas_02.jpg">

              </div>
              <div class="card-content">
                  <h5 class="center">Marvel logo</h5>
                <h6 class="center">R$ 29,90</h6>
              </div>
              <div class="card-action red-text">
                <a routerLink="/regata02">Confira</a>
              </div>
            </div>
          </div>


          <div class="col s12 m3 text-black">
              <div class="card">
                <div class="card-image">
                  <img src="assets/img/regata_03.jpg">

                </div>
                <div class="card-content">
                    <h5 class="center">DC logo</h5>
                  <h6 class="center">R$ 29,90</h6>
                </div>
                <div class="card-action red-text">
                  <a routerLink="/regata03">Confira</a>
                </div>
              </div>
            </div>


            <div class="col s12 m3 text-black">
                <div class="card">
                  <div class="card-image">
                    <img src="assets/img/regata_04.jpg">

                  </div>
                  <div class="card-content">
                      <h5 class="center">Liga da Justiça</h5>
                    <h6 class="center">R$ 29,90</h6>
                  </div>
                  <div class="card-action red-text">
                    <a routerLink="/regata04">Confira</a>
                  </div>
                </div>
              </div>
