<h4 class="center"> DC</h4>
<div class="row ">
    <div class="col s12 m3 text-black">
      <div class="card">
        <div class="card-image">
          <img src="assets/img/modelo_super.jpg">

        </div>
        <div class="card-content">

            <h5 class="center"> Super-Man</h5>
         <h6 class="center">R$ 39,90</h6>
        </div>
        <div class="card-action blue-text">
          <a routerLink="/super-man" class="letra">Confira</a>
        </div>
      </div>
    </div>

    <div class="col s12 m3 text-black">
            <div class="card">
              <div class="card-image">
                <img src="assets/img/modelo_batman.jpg">

              </div>
              <div class="card-content">
                  <h5 class="center">Batman</h5>
                <h6 class="center">R$ 39,90</h6>
              </div>
              <div class="card-action red-text">
                <a routerLink="/batman">Confira</a>
              </div>
            </div>
          </div>


          <div class="col s12 m3 text-black">
              <div class="card">
                <div class="card-image">
                  <img src="assets/img/modelo_mulher.jpg">

                </div>
                <div class="card-content">
                    <h5 class="center">Mulher Maravilha</h5>
                  <h6 class="center">R$ 39,90</h6>
                </div>
                <div class="card-action red-text">
                  <a routerLink="/maravilha">Confira</a>
                </div>
              </div>
            </div>


            <div class="col s12 m3 text-black">
                <div class="card">
                  <div class="card-image">
                    <img src="assets/img/modelo_aquaman.jpg">

                  </div>
                  <div class="card-content">
                      <h5 class="center">Aquaman</h5>
                    <h6 class="center">R$ 39,90</h6>
                  </div>
                  <div class="card-action red-text">
                    <a routerLink="/aquaman">Confira</a>
                  </div>
                </div>
              </div>
              <!--Bloco 2-->
              <div class="col s12 m3 text-black">
                  <div class="card">
                    <div class="card-image">
                      <img src="assets/img/modelo_flash.jpg">

                    </div>
                    <div class="card-content">
                        <h5 class="center">Flash</h5>
                      <h6 class="center">R$ 39,90</h6>
                    </div>
                    <div class="card-action red-text">
                      <a routerLink="/flash">Confira</a>
                    </div>
                  </div>
                </div>

                <div class="col s12 m3 text-black">
                    <div class="card">
                      <div class="card-image">
                        <img src="assets/img/modelo_verde.jpg">

                      </div>
                      <div class="card-content">
                          <h5 class="center">Lanterna Verde</h5>
                        <h6 class="center">R$ 39,90</h6>
                      </div>
                      <div class="card-action red-text">
                        <a routerLink="/verde">Confira</a>
                      </div>
                    </div>
                  </div>

                  <div class="col s12 m3 text-black">
                      <div class="card">
                        <div class="card-image">
                          <img src="assets/img/modelo_gaviao.jpg">

                        </div>
                        <div class="card-content">
                            <h5 class="center">Mulher Gavião</h5>
                          <h6 class="center">R$ 39,90</h6>
                        </div>
                        <div class="card-action red-text">
                          <a routerLink="/gaviao">Confira</a>
                        </div>
                      </div>
                    </div>


                    <div class="col s12 m3 text-black">
                        <div class="card">
                          <div class="card-image">
                            <img src="assets/img/modelo_shazan.jpg">

                          </div>
                          <div class="card-content">
                              <h5 class="center">Shazan</h5>
                            <h6 class="center">R$ 39,90</h6>
                          </div>
                          <div class="card-action red-text">
                            <a routerLink="/shazan">Confira</a>
                          </div>
                        </div>
                      </div>
</div>


