
<h4 class="center"> Marvel</h4>
<div class="row ">
    <div class="col s12 m3 text-black">
      <div class="card">
        <div class="card-image">
          <img src="assets/img/modelo_man.jpg">

        </div>
        <div class="card-content">

            <h5 class="center"> Iron Man</h5>
         <h6 class="center">R$ 49,90</h6>
        </div>
        <div class="card-action red-text">
          <a routerLink="/iron">Confira</a>
        </div>
      </div>
    </div>

    <div class="col s12 m3 text-black">
            <div class="card">
              <div class="card-image">
                <img src="assets/img/modelo_capitan.jpg">

              </div>
              <div class="card-content">
                  <h5 class="center">Capitão América</h5>
                <h6 class="center">R$ 49,90</h6>
              </div>
              <div class="card-action red-text">
                <a routerLink="/capitao">Confira</a>
              </div>
            </div>
          </div>


          <div class="col s12 m3 text-black">
              <div class="card">
                <div class="card-image">
                  <img src="assets/img/modelo_thor.jpg">

                </div>
                <div class="card-content">
                    <h5 class="center">Thor</h5>
                  <h6 class="center">R$ 49,90</h6>
                </div>
                <div class="card-action red-text">
                  <a routerLink="/thor">Confira</a>
                </div>
              </div>
            </div>


            <div class="col s12 m3 text-black">
                <div class="card">
                  <div class="card-image">
                    <img src="assets/img/modelo_grot.jpg">

                  </div>
                  <div class="card-content">
                      <h5 class="center">Groot</h5>
                    <h6 class="center">R$ 49,90</h6>
                  </div>
                  <div class="card-action red-text">
                    <a routerLink="/groot">Confira</a>
                  </div>
                </div>
              </div>
              <!--Bloco 2-->
              <div class="col s12 m3 text-black">
                  <div class="card">
                    <div class="card-image">
                      <img src="assets/img/modelo_viuva.jpg">

                    </div>
                    <div class="card-content">
                        <h5 class="center">Viúva Negra</h5>
                      <h6 class="center">R$ 49,90</h6>
                    </div>
                    <div class="card-action red-text">
                      <a routerLink="/viuva">Confira</a>
                    </div>
                  </div>
                </div>

                <div class="col s12 m3 text-black">
                    <div class="card">
                      <div class="card-image">
                        <img src="assets/img/modelo_doutor.jpg">

                      </div>
                      <div class="card-content">
                          <h5 class="center">Dr.Estranho</h5>
                        <h6 class="center">R$ 49,90</h6>
                      </div>
                      <div class="card-action red-text">
                        <a  routerLink="/estranho">Confira</a>
                      </div>
                    </div>
                  </div>

                  <div class="col s12 m3 text-black">
                      <div class="card">
                        <div class="card-image">
                          <img src="assets/img/modelo_aranha.jpg">

                        </div>
                        <div class="card-content">
                            <h5 class="center">Homem-Aranha</h5>
                          <h6 class="center">R$ 49,90</h6>
                        </div>
                        <div class="card-action red-text">
                          <a  routerLink="/aranha">Confira</a>
                        </div>
                      </div>
                    </div>


                    <div class="col s12 m3 text-black">
                        <div class="card">
                          <div class="card-image">
                            <img src="assets/img/modelo_hulk.jpg">

                          </div>
                          <div class="card-content">
                              <h5 class="center">Hulk</h5>
                            <h6 class="center">R$ 49,90</h6>
                          </div>
                          <div class="card-action red-text">
                            <a routerLink="/hulk">Confira</a>
                          </div>
                        </div>
                      </div>
</div>



