
<!--Menu-->
<nav class="grey darken-3">
    <div class="nav-wrapper container">
      <a href="#!" class="brand-logo">CamisaNerde</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
          <li><a href="sass.html">Início</a></li>
          <li><a routerLink="/produto">Marvel</a></li>
          <li><a routerLink="/dc">DC</a></li>
          <li><a routerLink="/regata">Regatas</a></li>
          <li><a routerLink="/moleton">Moletons</a></li>
          <li><a routerLink="/sobre">Sobre</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
          <li><a href="sass.html">Início</a></li>
          <li><a routerLink="/produto">Marvel</a></li>
          <li><a routerLink="/dc">DC</a></li>
          <li><a routerLink="/regata">Regatas</a></li>
          <li><a routerLink="/moleton">Moletons</a></li>
          <li><a routerLink="/sobre">Sobre</a></li>
      </ul>
    </div>
  </nav>



<!--Slider-->
<div class="slider">
  <ul class="slides">

    <li>
      <img src="assets/img/4780104-superhero-wallpaper.jpg"> <!-- random image -->
      <div class="caption left-align">
        <h3>Camisas Marvel</h3>
        <h5 class="light grey-text text-lighten-3">Conheça nossa  nova coleção da Marvel!</h5>
      </div>
    </li>


    <li>
        <img src="assets/img/batman-wallpaper-for-windows-10_3881650.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3>Camisas DC</h3>
          <h5 class="light grey-text text-blue-grey darken-4">Conheça nossa mais nova coleção da DC!</h5>
        </div>
      </li>

      <li>
          <img src="assets/img/Iron-Man-movies-cars-guns-backgrounds-25784100-1920-1080.jpg"> <!-- random image -->
          <div class="caption right-align">
            <h3>Regatas</h3>
            <h5 class="light grey-text text-lighten-3">Confira nossa coleção de regatas !</h5>
          </div>
        </li>

        <li>
            <img src="assets/img/Avengers-Infinity-War-2018-Space-Stone-4K-Ultra-HD-2560x1440.jpg"> <!-- random image -->
            <div class="caption left-align">
              <h3>Moletons</h3>
              <h5 class="light grey-text text-lighten-3">Confira nossa coleção de moletons !</h5>
            </div>
          </li>
    </ul>
    <br>
    <br>

    <!--Rotas-->
    <router-outlet></router-outlet>

    <!--Informativos-->
<br>
<br>
    <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">local_shipping</i></h2>
            <h5 class="center">Entrega Rápida</h5>

            <p class="light">Trabalhamos com o melhor serviço de entregas da América Latina
              entregamos em tempo recorde para todo lugar do Brasil. <br>

            </p>
          </div>
        </div>


        <div class="row">
            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center light-blue-text"><i class="material-icons">lock</i></h2>
                <h5 class="center">Segurança</h5>

                <p class="light"> Aqui você faz suas compras com segurança pois trabalhamos <br> com um sistema de pagamentos
                  100% seguro.

                </p>
              </div>
            </div>


            <div class="row">
                <div class="col s12 m4">
                  <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">mouse</i></h2>
                    <h5 class="center">Praticidade</h5>

                    <p class="light"> Com apenas alguns cliques você conhcerá toda nossa loja <br>
                      e em seguida estará pronto para finalizar sua compra.

                    </p>
                  </div>
                </div>
                <br>
                <br>

                <!--Roda Pé-->


                <footer class="page-footer grey darken-3">
                    <div class="container">
                      <div class="row">
                        <div class="col l6 s12">
                          <h5 class="white-text">Projeto Web</h5>
                          <p class="grey-text text-lighten-4">Luiz Henrique, Marcos Jorge, Jefferson Olívio, João Gilberto, Pedro Santos.</p>
                        </div>
                        <div class="col l4 offset-l2 s12">


                        </div>
                      </div>
                    </div>
                    <div class="footer-copyright">
                      <div class="container">
                      © 2019 Ibratec

                      </div>
                    </div>
                  </footer>




















